{% extends "layouts/base.html" %}
{% block title %}លុបអ្នកប្រើប្រាស់{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <h5 class="mb-0">បញ្ជាក់ការលុប</h5>
            </div>
            <div class="card-body">
                <p>
                    តើអ្នកប្រាកដថាចង់លុបអ្នកប្រើប្រាស់
                    <strong>{{ user.username }}</strong>({{ user.full_name}})?
                </p>

                {# Use tbl_users.delete here #}
                <form method="post" action="{{ url_for('tbl_users.delete', user_id=user.id) }}">
                    {{ form.hidden_tag()}}

                    <button class="btn btn-danger">
                        លុប
                    </button>
                    
                    {# You can send them back to detail or index #}
                    <a href="{{ url_for('tbl_users.detail', user_id=user.id) }}" 
                    class="btn btn-secondary">
                    បោះបង់
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
